{% extends "layout.html"%}


{% block content %}
<div style="margin-top: 200px" class="ui container center aligned">
    <div class="ui massive icon input"> 
        <form action="/compare-players" method="post">
            
                    <div class="field">
                        <input placeholder="Player 1 Name" type="text" name="p1" id="compareinput" onkeyup="comparePage()" style="text-align: center">
                    </div>
                

             
                    <div class="field" style="margin-top: 25px;">
                        <input placeholder="Player 2 Name" type="text" name="p2" id="compareinput" onkeyup="comparePage()" style="text-align: center">
                    </div>
               
                    
            <button class="big ui black button" type="submit" id="comparebtn" style="margin-top: 20px;" disabled>Compare</button> 
        </form>
    </div>
</div>

{% endblock %}